.product {
    background-color: $secondaryColor2;
    padding: 50px 0;
    color: $brandColor;


    h1 {
        text-align: center;
    }
    img {
        width: 100%;
        display: block;
    }
}